.head{
    color: green;
}
.pull{
    background-color:black
}
.rock{
    font-weight: bolder;
    color: greenyellow;
}
$ncolor:rgb(127, 233, 41);
body{
    background-color: $ncolor;
}
.container{
    background-color: goldenrod;
}
nav >a:hover{
    background-color: lawngreen;
}
.row{
    background-color: cyan;
    .col{
        color: green;
    }
}
.table{
    background-color:cyan;}   

    
    .footer{
        color: indigo;
    }
    button > a:hover{
        background-color: indigo;

    }
    dl{
        font-size: 20px;
        color: teal;;
    }